table {
    border: 1px solid red; margin: auto;
    table-layout:fixed;
}

thead td {
    border: 1px solid green; font-weight: bolder;
    color: blueviolet;
    padding: 10px;
    word-spacing: 1px;
    background-color: lightpink;
    word-wrap: break-word;
}

tbody td {
    border: 1px solid black;
    text-align: right;
    background-color:lightblue;
}

caption {
    font-size: larger;
    font-weight: bold;
}